h1
{
    font-size: 32px;
    width: 800px;
    text-align: center;
}

.explanation{
    width: 800px;
    font-style: italic;
    text-align: center;
}

.plot {
    max-width: 800px;
}


.plot{
    display:inline-block;
}